// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


:root{
    --primary-color: #d4af37;
    --main-font:  "Work Sans";
    --button-font: 18px;
    --header-font: 35px;
}


@media (min-width: 1024px){

    body {
        // width:100%;
        background-color: #fdf9eb;
        margin: 0;
        font-family: var(--main-font);
    
    }
    
    .navbar{
        background: #f2f1ed;
        padding: 20px 30px;
        display: flex;
        justify-content: space-around;
        position: sticky;
        top: 0;
        z-index: 999;
        
    
        .logo {
            text-decoration: none;
            color: black;
            font-size: 40px;
            font-family: Sacramento;
        }
    
        nav{
            
            .nav{
                // display: flex;
                letter-spacing: 1px;
                
                
                li{
                    float: left;
                    justify-content: space-between;
                    list-style-type: none;
    
                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: 400;
                        padding: 0 .5em; 
                        
                    }
    
                    a:hover{
                        border-bottom: 2px solid var(--primary-color);
                        color: var(--primary-color);
                        border-radius: 5px;   
                    }
                }
            }
        }
    
    
        .btn{
            background:var(--primary-color);
            
            font-size: var(--button-font);
            border-radius: 3px;
            border: none;
            font-family: var(--main-font);
            cursor: pointer;
            padding: 1px 20px;

            a{
                color:white;
                text-decoration: none;
            }
        }
    }
    
    .hero{
        
        background: #451e63; 
        padding: 50px 100px;
    
        .icon{
            margin-left: 850px;
            a{
                text-decoration: none;
    
                img{
                    padding: 0px 5px;
                    width: 35px;
                    height: 35px;
                }
            }
        }
        .hero-mobile{
            display: none;
        }
    
        .hero-web{
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            .nabs{
    
                h2{
                    font-weight: 500;
                    font-size: 60px;
                    color: var(--primary-color);
                    margin-bottom: 30px;
                }
    
                p{
                    color: #ffffff;
                    line-height: 25px;
                    margin-bottom: 40px;
                }
    
                .hm{
                    background-color: var(--primary-color);
                    border: none;
                    padding: 10px 30px;
                    border-radius: 3px;
                    margin-bottom: 20px;
    
                    a{
                        text-decoration: none;
                        font-size: var(--button-font);
                        color: white;
    
                    }
    
                }
            }
    
            .dcv{
                text-decoration: none;
                color: var(--primary-color);
                font-weight: 600;
                padding: 0 40px
            }
        }
    
    }
        
    
    .brands{
        padding: 50px 100px;
        background: whitesmoke;
        
    
        h1{
            font-size: var(--header-font);
            text-align: center;
            margin-bottom: 70px;
        }
      
        .brand{
            display: flex;
            justify-content: space-around;
            // animation-duration: 5s;
            // animation-name: slidein;
            // animation-iteration-count: infinite;
    
            img{
                padding: 0px 20px;

                // @keyframes slidein {
    
                //     0%{
                //         margin-left: 100%;
                //         width: 300%;
                //     }
            
                //     100%{
                        
                //         margin-left: 0%;
                //         width: 100%;
                //     }
                    
                // }
            }
        }  
        
    }
    
    .about-me{
        padding: 50px 100px;
        // background: red;
       
        .skls{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(3, minmax(30px, 1fr));  
    
            li{
                
                padding: 0px 30px 30px 5px;
                position: relative;
                margin-right: 2em;
                
    
                &:before {
                    content: '';
                    left: -2em;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url("images/skls-tick.svg");
                    background-size: contain;
                    // margin-right: .5em;
                    // display: inline-block;
                }
                
            }
    
        }
    
        .mp{
            border-radius: 3px;
            background-color: var(--primary-color);
            border: none;
            padding: 10px 30px;
            cursor: pointer;
            
            
            a{
                text-decoration: none;
                color: white;
                font-size: var(--button-font);
            }
     
        }
        
    }
    
    .workprocess{
        padding: 50px 100px;
        background: whitesmoke;
        display: flex;
        // align-items: center;
        justify-content: space-around;
    
        .sec1{
            h1{
                color: var(--primary-color);
            }
    
            button{
                background: var(--primary-color);
                padding: 10px 30px;
                border: none;
                border-radius: 3px;
                margin-top: 30px;
    
                a{
                    text-decoration: none;
                    font-size: var(--button-font);
                    color: white;
                }
            }
        }
    
        .sec2{
            display: grid;
            grid-template-columns: repeat(2, minmax(30px, 1fr));
    
            div{
                padding: 0px 40px;
                h1{
                    font-weight: 500;
                    margin-bottom: 0px;
                    margin-top: 5px;
                }
                p{
                    color: #1d1d1d;
                    margin-top: 10px;
                    margin-bottom: 50px;
                }
    
                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    
    .services{
        padding: 50px 80px;
        text-align: center;
    
        h1{
            font-size:var(--header-font);
            margin-bottom: 60px;
        }
    
        .service{
            display: flex;
            
     
            div{
                background: #ede3c2;
                display: inline-block;
                margin-right:1em;
                border-radius: 10px;
    
                h2{
                    font-weight: 600;
                }
    
                blockquote{
                    font-size: 15px;
                    color: #1d1d1d;
                    line-height: 25px;
                }
    
                img{
                    width: 3.5em;
                    height: 3.5em;
                    border: 5px solid #ede3c2;
                    border-radius: 50%;
                    margin-top: -1.5em;
                }
            }
            
        }     
    }
    
    .lproject{
        padding: 50px 100px;
    
        h1{
            text-align: center;
            font-size: var(--header-font);
        }
    
        .proj{
    
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            div{
    
                img{
                    width: 500px;
                    height: 314.61px;
                    margin-bottom: 0px;
                }
    
                .description{
    
                    background-color: white;
                    padding: 20px;
                    margin-top: -5px;
                    border-radius: 0px 0px 10px 10px;
                    // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
                    a{
                        button{
                            cursor: pointer;
                            border: none;
                            border-radius: 2px;
                            padding: 10px 30px;
                            font: var(--button-font);
                            background: var(--primary-color);
                            color: white;
                            margin-left: 25px;
                        }
                    }
                    h2{
                        margin-bottom: 0px;
                        margin-left: 25px;
                    }
        
                    p{
                        margin-top: 7px;
                        color: #1d1d1d;
                        margin-bottom: 25px;
                        margin-left: 25px;
                        font-size: 14px;
                    }
                }
    
                
    
    
            }
        }
    }
    
    .portfolio{
        background: whitesmoke;
        padding: 50px 100px;
    
        h1{
            text-align: center;
            font-size: var(--header-font);
        }

        
       
    
        .ports{
    
            display: grid;
            grid-template-columns: repeat(2, minmax(30px, 1fr));
    
            div{
    
                background: white;
                padding: 15px;
                margin: 20px;
                border-radius: 10px;
                h2{
                    color: var(--primary-color);
                    margin-bottom: 0px;
                }
    
                p{
                    margin-top: 10px;
                    border-bottom: 1px solid var(--primary-color);
                    // width: 200px;
                    padding-bottom: 10px;
                }
    
                // h3{
                //     margin-bottom: 0px;
                // }
    
                .brief{
                    border: none;
                    margin-top: 0px;
                    font-size: 14px;
                }
    
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 3px;
                }
    
                a{
                    text-decoration: none;
    
                    button{
                        border: 1px solid var(--primary-color);
                        cursor: pointer;
                        padding: 10px 30px;
                        background-color: white;
                        color: var(--primary-color);
                        font-weight: 600;
                        border-radius: 2px;
                    }
                }
            }

            a{
                text-decoration: none;
                margin-top: 40px;
    
                button{
                    padding-top: 100px;
                    border: none;
                    cursor: pointer;
                    padding: 10px 30px;
                    background-color: var(--primary-color);
                    color: white;
                    // border-radius: 2px;
                    
                }
            }

        }
 
    }
   
    .cont{
        padding: 50px 100px;
        background-color: #635d48;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        p{
            color: white;
            
            span{
                color: black;
            }
        }
    
    
        div{
            
            a{
                text-decoration: none;
    
                img{
                    padding: 0px 5px;
                    width: 35px;
                    height: 35px;
                }
            }
        }
        
    
    } 
}

@media (min-width: 320px) and (max-width: 479px){
    body{
        background-color: #fdf9eb;
        margin: 0;
        font-family: var(--main-font);
    }

    .navbar{
        background: #f2f1ed;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 999;
        
    
        .logo {
            text-decoration: none;
            color: black;
            font-size: 16px;
            font-family: Sacramento;
        }
    
        nav{
            display: none;
            .nav{
                // display: flex;
                letter-spacing: 1px;
                
                
                li{
                    float: left;
                    justify-content: space-between;
                    list-style-type: none;
    
                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: 400;
                        padding: 0 .5em; 
                        
                    }
    
                    a:hover{
                        border-bottom: 2px solid var(--primary-color);
                        color: var(--primary-color);
                        border-radius: 5px;   
                    }
                }
            }
        }
    
    
        .btn{
            background:var(--primary-color);
            color:white;
            font-size: 16px;
            border-radius: 2px;
            border: none;
            font-family: var(--main-font);
            cursor: pointer;
            padding: 3px 10px;

            a{
                color:white;
                text-decoration: none;
            }
        }
    }

   
    .hero{
        
        background: #451e63; 
        padding: 20px 15px;
    
        .icon{
            margin-left: 50px;

            a{
                text-decoration: none;
    
                img{
                    padding: 0px 5px;
                    width: 35px;
                    height: 35px;
                }
            }
        }

        
        .hero-web{
            display: none;
        }
    
        .hero-mobile{
            display: flex;
            flex-direction: column;
            margin-top: -20px;

            .profile-pics{
                width: 60px;
                display: none;
            }
    
            .nabs{
    
                h2{
                    font-weight: 500;
                    font-size: 40px;
                    color: var(--primary-color);
                    margin-bottom: 30px;
                }
    
                p{
                    color: #ffffff;
                    line-height: 25px;
                    margin-bottom: 40px;
                }

                // .profile-pics{
                //     width: 60px;
                //     display: none;
                // }
                img{
                    width: 100%;
                    // display: none;
                }

                
    
                .hm{
                    background-color: var(--primary-color);
                    border: none;
                    padding: 10px 30px;
                    border-radius: 3px;
                    margin-bottom: 20px;
    
                    a{
                        text-decoration: none;
                        font-size: var(--button-font);
                        color: white;
    
                    }
    
                }
            }
    
            .dcv{
                text-decoration: none;
                color: var(--primary-color);
                font-weight: 600;
                padding: 0 20px
            }
        }
    
    }

    .brands{
        padding: 20px 15px;
        background: whitesmoke;
        
    
        h1{
            font-size: var(--header-font);
            text-align: center;
            margin-bottom: 40px;
        }
      
        .brand{
            display: flex;
            width: 100%;
            overflow-x: auto;
            // justify-content: space-around;

            img{
                padding: 0px 5px;
                width: 70px;
            }
        }  
        
    }

    .about-me{
        padding: 20px 15px;
        // background: red;
       
        .skls{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(1, minmax(5px, 1fr));  
    
            li{
                
                padding: 0px 30px 30px 5px;
                position: relative;
                margin-right: 2em;
                
    
                &:before {
                    content: '';
                    left: -2em;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url("images/skls-tick.svg");
                    background-size: contain;
                    // margin-right: .5em;
                    // display: inline-block;
                }
                
            }
    
        }
    
        .mp{
            border-radius: 3px;
            background-color: var(--primary-color);
            border: none;
            padding: 10px 30px;
            cursor: pointer;
            
            
            a{
                text-decoration: none;
                color: white;
                font-size: var(--button-font);
            }
     
        }
        
    }

    .workprocess{
        padding: 20px 15px;
        background: whitesmoke;
        // display: flex;
        // align-items: center;
        justify-content: space-around;
    
        .sec1{
            h1{
                color: var(--primary-color);
            }
    
            button{
                background: var(--primary-color);
                padding: 10px 30px;
                border: none;
                border-radius: 3px;
                margin-top: 15px;
                margin-bottom: 30px;
    
                a{
                    text-decoration: none;
                    font-size: var(--button-font);
                    color: white;
                }
            }
        }
    
        .sec2{
            // display: grid;
            // grid-template-columns: repeat(2, minmax(30px, 1fr));
    
            div{
                padding: 0px 40px;
                h1{
                    font-weight: 500;
                    margin-bottom: 0px;
                    margin-top: 5px;
                }
                p{
                    color: #1d1d1d;
                    margin-top: 10px;
                    margin-bottom: 50px;
                }
    
                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .services{
        padding: 20px 15px;
        text-align: center;
        display: none;
    
        h1{
            font-size:var(--header-font);
            margin-bottom: 60px;
        }
    
        .service{
            
            
     
            div{
                background: #ede3c2;
                display: inline-block;
                margin-bottom:3em;
                border-radius: 10px;
    
                h2{
                    font-weight: 600;
                }
    
                blockquote{
                    font-size: 15px;
                    color: #1d1d1d;
                    line-height: 25px;
                }
    
                img{
                    width: 3.5em;
                    height: 3.5em;
                    border: 5px solid #ede3c2;
                    border-radius: 50%;
                    margin-top: -1.5em;
                }
            }
            
        }     
    }

    .portfolio{
        background: whitesmoke;
        padding: 20px 15px;
    
        h1{
            text-align: center;
            font-size: var(--header-font);
        }
    
        .ports{
    
            // display: flex;
            // justify-content: space-between;
    
            div{
    
                background: white;
                padding: 15px;
                margin-bottom: 2em;
                border-radius: 10px;
                h2{
                    color: var(--primary-color);
                    margin-bottom: 0px;
                }
    
                p{
                    margin-top: 10px;
                    border-bottom: 2px solid var(--primary-color);
                    // width: 200px;
                    padding-bottom: 10px;
                }
    
                // h3{
                //     margin-bottom: 0px;
                //  c
    
                .brief{
                    border: none;
                    margin-top: 0px;
                    font-size: 14px;
                }
    
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 3px;
                }
    
                a{
                    text-decoration: none;
    
                    button{
                        border: 1px solid var(--primary-color);
                        cursor: pointer;
                        padding: 10px 30px;
                        background-color: white;
                        color: var(--primary-color);
                        font-weight: 600;
                        border-radius: 2px;
                    }
                }
            }

            a{
                text-decoration: none;
                margin-top: 40px;
    
                button{
                    padding-top: 100px;
                    border: none;
                    cursor: pointer;
                    padding: 10px 30px;
                    background-color: var(--primary-color);
                    color: white;
                    // border-radius: 2px;
                    
                }
            }

        }
        
    }

    .cont{
        padding: 20px 15px;
        background-color: #635d48;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
    
        p{
            padding: 0px auto;
            color: white;
            
            
            span{
                color: black;
            }
        }
    
    
        div{
            
            a{
                text-decoration: none;
    
                img{
                    padding: 0px 5px;
                    width: 35px;
                    height: 35px;
                }
            }
        }
        
    
    } 

}


@media (min-width: 480px) and (max-width: 768px){
    body{
        background-color: #fdf9eb;
        margin: 0;
        font-family: var(--main-font);
    }

    .navbar{
        background: #f2f1ed;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 999;
        
    
        .logo {
            text-decoration: none;
            color: black;
            font-size: 40px;
            font-family: Sacramento;
        }
    
        nav{
            display: none;
            .nav{
                // display: flex;
                letter-spacing: 1px;
                
                
                li{
                    float: left;
                    justify-content: space-between;
                    list-style-type: none;
    
                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: 400;
                        padding: 0 .5em; 
                        
                    }
    
                    a:hover{
                        border-bottom: 2px solid var(--primary-color);
                        color: var(--primary-color);
                        border-radius: 5px;   
                    }
                }
            }
        }
    
    
        .btn{
            background:var(--primary-color);
            color:white;
            font-size: var(--button-font);
            border-radius: 3px;
            border: none;
            font-family: var(--main-font);
            cursor: pointer;
            padding: 1px 20px;

            a{
                color:white;
                text-decoration: none;
            }
        }
    }
   
    .hero{
        
        background: #451e63; 
        padding: 20px 15px;
    
        .icon{
            margin-left: 350px;
            a{
                text-decoration: none;
    
                img{
                    padding: 0px 5px;
                    width: 35px;
                    height: 35px;
                }
            }
        }

        
        .hero-web{
            display: none;
        }
    
        .hero-mobile{
            display: flex;
            flex-direction: column;
            margin-top: -90px;
    
            .nabs{
    
                h2{
                    font-weight: 500;
                    font-size: 60px;
                    color: var(--primary-color);
                    margin-bottom: 30px;
                }
    
                p{
                    color: #ffffff;
                    line-height: 25px;
                    margin-bottom: 40px;
                }
    
                .hm{
                    background-color: var(--primary-color);
                    border: none;
                    padding: 10px 30px;
                    border-radius: 3px;
                    margin-bottom: 20px;
    
                    a{
                        text-decoration: none;
                        font-size: var(--button-font);
                        color: white;
    
                    }
    
                }
            }
    
            .dcv{
                text-decoration: none;
                color: var(--primary-color);
                font-weight: 600;
                padding: 0 40px
            }
        }
    
    }

    .brands{
        padding: 20px 15px;
        background: whitesmoke;
        
    
        h1{
            font-size: var(--header-font);
            text-align: center;
            margin-bottom: 40px;
        }
      
        .brand{
            display: flex;
            justify-content: space-around;

            img{
                padding: 0px 5px;
                width: 70px;
            }
        }  
        
    }

    .about-me{
        padding: 20px 15px;
        // background: red;
       
        .skls{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(3, minmax(5px, 1fr));  
    
            li{
                
                padding: 0px 30px 30px 5px;
                position: relative;
                margin-right: 2em;
                
    
                &:before {
                    content: '';
                    left: -2em;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url("images/skls-tick.svg");
                    background-size: contain;
                    // margin-right: .5em;
                    // display: inline-block;
                }
                
            }
    
        }
    
        .mp{
            border-radius: 3px;
            background-color: var(--primary-color);
            border: none;
            padding: 10px 30px;
            cursor: pointer;
            
            
            a{
                text-decoration: none;
                color: white;
                font-size: var(--button-font);
            }
     
        }
        
    }

    .workprocess{
        padding: 20px 15px;
        background: whitesmoke;
        display: flex;
        // align-items: center;
        justify-content: space-around;
    
        .sec1{
            h1{
                color: var(--primary-color);
            }
    
            button{
                background: var(--primary-color);
                padding: 10px 30px;
                border: none;
                border-radius: 3px;
                margin-top: 30px;
    
                a{
                    text-decoration: none;
                    font-size: var(--button-font);
                    color: white;
                }
            }
        }
    
        .sec2{
            display: grid;
            grid-template-columns: repeat(2, minmax(30px, 1fr));
    
            div{
                padding: 0px 40px;
                h1{
                    font-weight: 500;
                    margin-bottom: 0px;
                    margin-top: 5px;
                }
                p{
                    color: #1d1d1d;
                    margin-top: 10px;
                    margin-bottom: 50px;
                }
    
                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .services{
        padding: 20px 15px;
        text-align: center;
    
        h1{
            font-size:var(--header-font);
            margin-bottom: 60px;
        }
    
        .service{
            display: flex;
            
     
            div{
                background: #ede3c2;
                display: inline-block;
                margin-right:1em;
                border-radius: 10px;
    
                h2{
                    font-weight: 600;
                }
    
                blockquote{
                    font-size: 15px;
                    color: #1d1d1d;
                    line-height: 25px;
                }
    
                img{
                    width: 3.5em;
                    height: 3.5em;
                    border: 5px solid #ede3c2;
                    border-radius: 50%;
                    margin-top: -1.5em;
                }
            }
            
        }     
    }

    .portfolio{
        background: whitesmoke;
        padding: 20px 15px;
    
        h1{
            text-align: center;
            font-size: var(--header-font);
        }
    
        .ports{
    
            display: flex;
            justify-content: space-between;
    
            div{
    
                background: white;
                padding: 15px;
                margin-right: 1em;
                border-radius: 10px;
                h2{
                    color: var(--primary-color);
                    margin-bottom: 0px;
                }
    
                p{
                    margin-top: 10px;
                    border-bottom: 2px solid var(--primary-color);
                    // width: 200px;
                    padding-bottom: 10px;
                }
    
                // h3{
                //     margin-bottom: 0px;
                //  c
    
                .brief{
                    border: none;
                    margin-top: 0px;
                    font-size: 14px;
                }
    
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 3px;
                }
    
                a{
                    text-decoration: none;
    
                    button{
                        border: 1px solid var(--primary-color);
                        cursor: pointer;
                        padding: 10px 30px;
                        background-color: white;
                        color: var(--primary-color);
                        font-weight: 600;
                        border-radius: 2px;
                    }
                }
            }

            a{
                text-decoration: none;
                margin-top: 40px;
    
                button{
                    padding-top: 100px;
                    border: none;
                    cursor: pointer;
                    padding: 10px 30px;
                    background-color: var(--primary-color);
                    color: white;
                    // border-radius: 2px;
                    
                }
            }
        }
        
    }

    .cont{
        padding: 20px 15px;
        background-color: #635d48;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        p{
            color: white;
            
            span{
                color: black;
            }
        }
    
    
        div{
            
            a{
                text-decoration: none;
    
                img{
                    padding: 0px 5px;
                    width: 35px;
                    height: 35px;
                }
            }
        }
        
    
    } 

}


@media (min-width: 769px) and (max-width: 1023px){
    body{
        background-color: #fdf9eb;
        margin: 0;
        font-family: var(--main-font);
    }

    .navbar{
        background: #f2f1ed;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 999;
        
    
        .logo {
            text-decoration: none;
            color: black;
            font-size: 40px;
            font-family: Sacramento;
        }
    
        nav{
            display: none;
            .nav{
                // display: flex;
                letter-spacing: 1px;
                
                
                li{
                    float: left;
                    justify-content: space-between;
                    list-style-type: none;
    
                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: 400;
                        padding: 0 .5em; 
                        
                    }
    
                    a:hover{
                        border-bottom: 2px solid var(--primary-color);
                        color: var(--primary-color);
                        border-radius: 5px;   
                    }
                }
            }
        }
    
    
        .btn{
            background:var(--primary-color);
            color:white;
            font-size: var(--button-font);
            border-radius: 3px;
            border: none;
            font-family: var(--main-font);
            cursor: pointer;
            padding: 1px 20px;

            a{
                color:white;
                text-decoration: none;
            }
        }
    }

    .hero{
        
        background: #451e63; 
        padding: 20px 15px;
    
        .icon{
            margin-left: 500px;
            a{
                text-decoration: none;
    
                img{
                    padding: 0px 5px;
                    width: 35px;
                    height: 35px;
                }
            }
        }

        
        .hero-web{
            display: none;
        }
    
        .hero-mobile{
            display: flex;
            flex-direction: column;
            margin-top: -90px;
    
            .nabs{
    
                h2{
                    font-weight: 500;
                    font-size: 60px;
                    color: var(--primary-color);
                    margin-bottom: 30px;
                }
    
                p{
                    color: #ffffff;
                    line-height: 25px;
                    margin-bottom: 40px;
                }
    
                .hm{
                    background-color: var(--primary-color);
                    border: none;
                    padding: 10px 30px;
                    border-radius: 3px;
                    margin-bottom: 20px;
    
                    a{
                        text-decoration: none;
                        font-size: var(--button-font);
                        color: white;
    
                    }
    
                }
            }
    
            .dcv{
                text-decoration: none;
                color: var(--primary-color);
                font-weight: 600;
                padding: 0 40px
            }
        }
    
    }

    .brands{
        padding: 20px 15px;
        background: whitesmoke;
        
    
        h1{
            font-size: var(--header-font);
            text-align: center;
            margin-bottom: 40px;
        }
      
        .brand{
            display: flex;
            justify-content: space-around;

            img{
                padding: 0px 5px;
                width: 70px;
            }
        }  
        
    }

    .about-me{
        padding: 20px 15px;
        // background: red;
       
        .skls{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(3, minmax(5px, 1fr));  
    
            li{
                
                padding: 0px 30px 30px 5px;
                position: relative;
                margin-right: 2em;
                
    
                &:before {
                    content: '';
                    left: -2em;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url("images/skls-tick.svg");
                    background-size: contain;
                    // margin-right: .5em;
                    // display: inline-block;
                }
                
            }
    
        }
    
        .mp{
            border-radius: 3px;
            background-color: var(--primary-color);
            border: none;
            padding: 10px 30px;
            cursor: pointer;
            
            
            a{
                text-decoration: none;
                color: white;
                font-size: var(--button-font);
            }
     
        }
        
    }

    .workprocess{
        padding: 20px 15px;
        background: whitesmoke;
        display: flex;
        // align-items: center;
        justify-content: space-around;
    
        .sec1{
            h1{
                color: var(--primary-color);
            }
    
            button{
                background: var(--primary-color);
                padding: 10px 30px;
                border: none;
                border-radius: 3px;
                margin-top: 30px;
    
                a{
                    text-decoration: none;
                    font-size: var(--button-font);
                    color: white;
                }
            }
        }
    
        .sec2{
            display: grid;
            grid-template-columns: repeat(2, minmax(30px, 1fr));
    
            div{
                padding: 0px 40px;
                h1{
                    font-weight: 500;
                    margin-bottom: 0px;
                    margin-top: 5px;
                }
                p{
                    color: #1d1d1d;
                    margin-top: 10px;
                    margin-bottom: 50px;
                }
    
                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .services{
        padding: 20px 15px;
        text-align: center;
    
        h1{
            font-size:var(--header-font);
            margin-bottom: 60px;
        }
    
        .service{
            display: flex;
            
     
            div{
                background: #ede3c2;
                display: inline-block;
                margin-right:1em;
                border-radius: 10px;
    
                h2{
                    font-weight: 600;
                }
    
                blockquote{
                    font-size: 15px;
                    color: #1d1d1d;
                    line-height: 25px;
                }
    
                img{
                    width: 3.5em;
                    height: 3.5em;
                    border: 5px solid #ede3c2;
                    border-radius: 50%;
                    margin-top: -1.5em;
                }
            }
            
        }     
    }

    .portfolio{
        background: whitesmoke;
        padding: 20px 15px;
    
        h1{
            text-align: center;
            font-size: var(--header-font);
        }
    
        .ports{
    
            display: flex;
            justify-content: space-between;
    
            div{
    
                background: white;
                padding: 15px;
                margin-right: 1em;
                border-radius: 10px;
                h2{
                    color: var(--primary-color);
                    margin-bottom: 0px;
                }
    
                p{
                    margin-top: 10px;
                    border-bottom: 2px solid var(--primary-color);
                    // width: 200px;
                    padding-bottom: 10px;
                }
    
                // h3{
                //     margin-bottom: 0px;
                //  c
    
                .brief{
                    border: none;
                    margin-top: 0px;
                    font-size: 14px;
                }
    
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 3px;
                }
    
                a{
                    text-decoration: none;
    
                    button{
                        border: 1px solid var(--primary-color);
                        cursor: pointer;
                        padding: 10px 30px;
                        background-color: white;
                        color: var(--primary-color);
                        font-weight: 600;
                        border-radius: 2px;
                    }
                }
            }

            a{
                text-decoration: none;
                margin-top: 40px;
    
                button{
                    padding-top: 100px;
                    border: none;
                    cursor: pointer;
                    padding: 10px 30px;
                    background-color: var(--primary-color);
                    color: white;
                    // border-radius: 2px;
                    
                }
            }
        }
        
    }

    .cont{
        padding: 20px 15px;
        background-color: #635d48;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        p{
            color: white;
            
            span{
                color: black;
            }
        }
    
    
        div{
            
            a{
                text-decoration: none;
    
                img{
                    padding: 0px 5px;
                    width: 35px;
                    height: 35px;
                }
            }
        }
        
    
    } 

}
